* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* background-color: #D1D1D1; */
}

body {
    background-image: linear-gradient(to top right, indigo, violet);
    height: 100vh;
}